*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color:rgb(0,0,0);
    color: #fff;
}

#home{
    height: 100vh;
}

#home .menu-icon{
    font-size: 28px;
    display: none;
}

#home .close-icon{
    display: none;
}

#home #navbar{
   width: 100%;
   height: 10vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#home #navbar .logo{
    margin-left: 5vw;
    font-size: 42px;
    font-weight: 600;
}

#home #navbar .logo span{
    color: crimson;
}

#home #navbar ul{
    margin-right: 10vw;
    list-style: none;
}

#home #navbar li{
    display: inline-block;
    margin: 0px 15px;
    position: relative;
}
 
#home #navbar li::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: crimson;
    position: absolute;
    bottom: -3px;
    left: 0px;
    transition-property: all;
    transition-duration: 0.5s;
  
}
  
#home #navbar li:hover::after{
    width: 100%;
} 
  
#home #navbar a{
    text-decoration: none;
    padding: 2px 4px;  
    color: white;
    font-size: 18px;
}

#home #inner-body{
   height: 91vh;
}

#home #inner-body #inner-content{
   margin-top: 27vh;
   margin-left: 7vw;
}

#home #inner-body p{
   font-size: 25px;
   margin-bottom: 15px;
}

#home #inner-body h1{
   font-size: 45px;
   font-weight: 600;
   line-height: 65px;
}

#home #inner-body h1 span{
   color: crimson;
}

#home #inner-body #img-div{
   position: relative;
}

#home #inner-body img{
    width: 30vw;
    height: 90vh;
    object-fit: contain;
    position: absolute;
    bottom: 0px;   
}

#about{
    width: 100%;
    margin: 120px 0px;
}

#about img{
    border-radius: 15px;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

#about .about-content h1{
    font-size: 40px;
    font-weight: 700;
}

#about .tab-heading{
    width: 320px;
    display: flex;
    justify-content: space-between; 
}

#about .tab-heading .tab-link{
    position: relative;
    cursor: pointer;
}

#about .tab-heading .tab-link::after{
   content: "";
   width: 0%;
   height: 3px;
   background-color: crimson;
   position: absolute;
   left: 0px;
   bottom: -3px;
   transition-property: width;
   transition-duration: 0.8s;
}

#about .tab-heading .tab-link.active::after{
    width: 50%;
}

#about .skill-tab-content , .experience-tab-content , .education-tab-content{
    display: none;
}

#about .skill-tab-content.active , .experience-tab-content.active , .education-tab-content.active{
    display: block;
}

#about .tab-content .title{
    color: crimson;
    font-size: 12px;
    padding: 0px;
    margin: 25px 0px 0px 0px;
}

#about .tab-content .title-content{
    font-size: 14px;
}

#services{
    margin-top: 120px;
    width: 100%;
}

#services h1{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
}

#services .services-card{
    padding: 35px;
    background-color: #454545;
    border-radius: 13px;
    transition: all 0.5s;
}

#services .services-card:hover{
   background-color: crimson;
   transform: translateY(-8px);
}

#services .services-card i{
    font-size: 40px;
    margin-bottom: 20px;
}

#services .services-card h3{
    font-size: 28px;
    font-weight: 500;
}

#services .services-card p{
    font-size: 13px;
}

#services .services-card a{
   text-decoration: none;
   color: white;
   font-size: 14px;
}

#portfolio{
    margin: 120px 0px;
    width: 100%;
}

#portfolio h1{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
}

#portfolio .portfolio-btn{
   display: flex;
   justify-content: center;
   margin: 35px 0px;
}

#portfolio .portfolio-btn button{
    padding: 5px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid crimson;
    color: white;
    transition: all 0.5s;
}

#portfolio .portfolio-btn button:hover{
    background-color: crimson;
}

#portfolio .portfolio-card{
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

#portfolio .portfolio-card img{
   width: 100%;
   height: 440px;
   object-fit: cover;
   border-radius: 15px;
   transition: all 0.5s;
}

#portfolio .portfolio-card:hover img{
    transform: scale(1.07);
}

#portfolio .portfolio-card .layer{
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 0%;
   background-image: linear-gradient(to top,rgba(249, 21, 21, 0.8),rgba(0, 0, 0, 0.7));
   padding: 0px 35px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   border-radius: 15px;
   transition: all 0.5s;
   overflow: hidden;
}

#portfolio .portfolio-card:hover .layer{
    height: 100%;
}

#portfolio .portfolio-card .layer h3{
    font-size: 18px;
    font-weight: 300px;
}

#portfolio .portfolio-card .layer p{
    font-size: 13px;
}

#portfolio .portfolio-card .layer i{
    background-color: white;
    color: crimson;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    transition: all 0.3s;
}

#portfolio .portfolio-card .layer i:hover{
    transform: translateY(-3px);
}

#contact{
    width: 100%;
    margin: 150px 0px 0px 0px;
}

#contact .left-contact{
    padding: 0px 30px;
}

#contact .left-contact h1{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
}

#contact .left-contact p{
    margin-bottom: 25px;
    font-size: 12px;
}

#contact .left-contact p i{
    font-size: 18px;
    color: crimson;
    margin-right: 10px;
}

#contact .left-contact .social-icons i{
    font-size: 20px;
    padding-right: 8px;
    transition: all 0.3s;
}

#contact .left-contact .social-icons i:hover{
    color: crimson;
    transform: translateY(-3px);
}

#contact .left-contact button{
    padding: 5px 20px;
    border: 2px solid crimson;
    background-color: transparent;
    color: white;
    transition: all 0.5s;
    margin-top: 30px;
    border-radius: 12px;
}

#contact .left-contact button:hover{
    background-color: crimson;
}

#contact .right-contact input , #contact .right-contact textarea{
   width: 100%;
   background-color: rgb(48, 47, 47);
   padding: 5px 15px;
   font-size: 18px;
   border: none;
   outline: none;
   border-radius: 12px;
   margin-bottom: 22px;
   color: white;
}

#contact .right-contact input::placeholder , #contact .right-contact textarea::placeholder{
    color: rgb(177, 171, 171);
    font-size: 15px;
}

#contact .right-contact button{
    padding: 5px 30px;
    border: 2px solid crimson;
    background-color: transparent;
    color: white;
    transition: all 0.5s;
    margin-top: 15px;
    border-radius: 12px;
}

#contact .right-contact button:hover{
    background-color: crimson;
}

#contact .right-contact small{
    padding-left: 10px;
    color: green;
}

#contact .copyright{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: 8px 0px;
    font-size: 14px;
    word-spacing: 5px;
    background-color: rgb(48, 47, 47);
}

#contact .copyright i{
    color: crimson;
}


/* --------------------------media query for small screen---------------------------------- */

@media screen and (max-width:600px){

    #home #navbar ul{
        position: fixed;
        top: 0;
        right: 0;
        margin-right: 0;
        width: 0;
        height: 100vh;
        background-color: rgba(255, 0, 51, 0.9);
        z-index: 2;
        transition: all 0.5s;
    }

    #home #navbar ul.active{
        width: 200px;
    }

    #home #navbar ul li:first-child{
        margin-top: 65px;
    }

    #home #navbar ul li{
        display: block;
        margin: 30px 45px 0px;
        border-bottom: 1px solid white;
    }

    #home .close-icon{
        display: block;
        position: absolute;
        top: 15px;
        left: 20px;
        font-size: 20px;
    }

    #home .menu-icon{
        display: block;
    }

    #home #navbar .logo{
        margin-left: 0;
        font-size: 30px;
    }

    #home #inner-body #inner-content {
        margin-top: 100px;
        margin-left: 20px;
        white-space: pre;
    }

    #home #inner-body p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #home #inner-body h1 {
        font-size: 35px;
        font-weight: 700;
        line-height: 40px;
        margin-top: -30px;
    }

    #home #inner-body img {
        width: 300px;
        height: 800px;
        object-fit: contain;
        position: fixed;
        bottom: -188px;
        right: 0px;
        z-index: -2;
    }

    #about .about-content h1 {
        font-size: 40px;
        font-weight: 700;
    }

    #about .about-content h1 {
        font-size: 32px;
        font-weight: 600;
        margin-top: 20px;
    }

    #about .about-content p{
        font-size: 14px;
        text-align: justify;
    }

    #about .tab-heading {
       margin-top: 40px;
    }

    #services h1 {
        font-size: 32px;
        font-weight: 600;
        margin-top: -2px;
        margin-bottom: 20px;
        padding-top: 22px;
        padding-left: 2px;
    }

    #services .services-card {
        padding: 35px;
        background-color: #454545;
        border-radius: 13px;
        transition: all 0.5s;
        margin-bottom: 20px;
    }

    #portfolio h1 {
        font-size: 32px;
        font-weight: 600;
        margin-top: -2px;
        margin-bottom: 20px;
        padding-top: 22px;
        padding-left: 2px;
    }
    
    #portfolio .portfolio-card {
       margin-bottom: 20px;
    }

    #portfolio .portfolio-btn {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: -2px;
    }

    #contact .left-contact h1 {
        font-size: 32px;
        font-weight: 600;
        margin-top: -2px;
        margin-bottom: 20px;
        margin-left: -26px;
        padding-top: 33px;
        padding-left: 2px;

    }

    #contact .left-contact p {
       margin-left: -26px;
    }

    #contact .left-contact .social-icons{
        margin-left: -26px;
    }

    #contact .left-contact button {
        margin-left: -26px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #contact .right-contact{
        margin-top: 25px;
    }

    #contact .right-contact button {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    #about, #portfolio, #services , #contact{
        background-color: black;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0px;

    }


/* -------------------------------------------------------------------- */



    

}






